:root {
  --card-color: #ec4c8a;
  --bg-color: #ec4c8a;
  --bg-color-light: #d1306c;
  --white-bg-color: #fff;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
  color: var(--white-bg-color);
  font-size: calc(10px + 2vmin);
}

.white-text {
  color: var(--white-bg-color);
}

/* TopCard */
.header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
}

.nav-list {
  margin-left: -28px;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0;
  margin-top: 12px;
  align-items: center;
  padding-top: 0;
  margin-bottom: -20px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.title-text {
  font-size: 18px;
  font-weight: 800;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 65px;
}

.measurements-text {
  font-size: 12px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 65px;
}

/* Content cards */
.content-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin: 0;
  padding-left: 0;
  background-color: var(--bg-color);
  font-weight: bold;
  border: none;
  align-items: flex-end;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 28px;
}

.top-card-title {
  align-items: flex-end;
  margin-right: auto;
  margin-left: 280px;
  margin-bottom: -63px;
  height: 250px;
}

/* Top card */

.top-card {
  display: flex;
  background-color: var(--card-color);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  height: 220px;
  padding-top: 8px;
}

.image-container {
  flex: 1;
  min-height: 140px;
  height: 150px;
  width: 50%;
  background-size: cover;
  background-position: left;
  align-items: flex-start;
  margin-bottom: 18px;
  margin-left: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
}

.top-title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: -55px;
  margin-left: 265px;
  align-items: flex-end;
}

.detail-content .card-title {
  align-items: flex-end;
  font-size: 18px;
  font-weight: 800;
  margin-top: -28px;
}

.detail-content .card-text {
  align-items: flex-end;
  font-size: 12px;
  margin-top: -25px;
}

/* card details */

.detail-list-container {
  display: flex;
  flex-direction: column;
}

.card-detail-label {
  flex: 1;
}

.card-detail-value {
  flex-shrink: 0;
}

.card-detail {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
  color: var(--white-bg-color);
  font-weight: bold;
  padding: 20px;
}

.darker {
  background-color: var(--bg-color-light);
}

.top-title {
  margin-top: -87px;
  align-items: self-end;
}

.top-subtext {
  margin-top: -60px;
}

/* detail section */
