/* default app theme 4369b2 */

/* top card color app theme 568ae6 */

:root {
  --top-card-color: #568ae6;
  --default-bg-theme: #4268af;
  --bg-color-light: #4369b2;
  --bg-color-dark: #3d60a2;
  --white-bg-color: #fff;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  background-color: var(--default-bg-theme);
  font-size: calc(10px + 2vmin);
}

.white-text {
  color: var(--white-bg-color);
}

.white-bg {
  background-color: var(--white-bg-color);
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.card-info-container {
  margin-top: 50px;
}

.marging-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.bold {
  font-weight: bold;
}

.no-border {
  border: none;
}

.flex-end {
  align-items: flex-end;
}

.card-container {
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin-top: 12px;
  align-items: center;
  margin-bottom: -20px;
}

.title-text {
  font-size: 18px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 65px;
}

.measurements-text {
  font-size: 12px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 65px;
}

/* TopCard END */

/* Content cards */
.content-card {
  background-size: 120px 60%;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: var(--default-bg-theme);
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: -32px;
  padding-top: 45px;
}

.sub-text {
  font-size: 12px;
}

/* Top card */

.top-card {
  background-color: var(--top-card-color);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  height: 255px;
  padding-top: 8px;
  margin-bottom: 30px;
}

.image-container {
  flex: 1;
  min-height: 140px;
  height: 150px;
  width: 50%;
  background-size: cover;
  background-position: left;
  align-items: flex-start;
  margin-bottom: 18px;
  margin-left: 15px;
  margin-top: 25px;
}

.card-content {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
}

.top-title-container {
  flex: 1;
  padding: 10px;
  margin-top: -109px;
  margin-left: 250px;
}

/* card details */

.card-detail-label {
  flex: 1;
}

.card-detail-value {
  flex-shrink: 0;
}

.card-detail {
  background-color: var(--default-bg-theme);
  color: var(--white-bg-color);
  padding: 20px;
}

.darker {
  background-color: var(--bg-color-dark);
}

.top-title {
  margin-top: -55px;
  align-items: self-end;
  font-weight: 900;
}

.top-subtext {
  margin-top: -60px;
  font-weight: 900;
}

/* detail section */

/* footer */
.footer-text {
  background-color: var(--bg-color-dark);
}

.spinner-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
