/* TopCard */
.header {
  background-color: #ec4c8a;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}

.card-info-container {
  display: flex;
  margin-top: 90px;
  flex-direction: column;
}

.title-text {
  flex-wrap: wrap;
  overflow-wrap: break-word;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin: 0;
  margin-top: 12px;
  align-items: center;
  padding-top: 0;
  margin-bottom: -20px;
}
